@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #D2D2D2;
    background-image: repeating-linear-gradient(to right, transparent 0 100px,
            #25283b22 100px 101px),
        repeating-linear-gradient(to bottom, transparent 0 100px,
            #25283b22 100px 101px);
}

body::before {
    position: absolute;
    width: min(1400px, 90vw);
    top: 10%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: "";
    background-image: url(../img/bg.png);
    background-size: 100%;
    background-position: top center;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

/*Layout do banner com profundidade 3D*/
.banner .slide {
    position: absolute;
    width: clamp(200px, 30vw, 500px);
    height: clamp(250px, 40vh, 600px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(1000px);
    transform-style: preserve-3d;
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: translate(-50%, -50%) perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: translate(-50%, -50%) perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slide .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
               translateZ(300px);
}

.banner .slide .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    z-index: 5;
}

.banner .conteudo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.banner .conteudo h1 {
    font-family: 'ICA Rubrik';
    font-size: clamp(3rem, 10vw, 10rem); /* mínimo 3rem, máximo 10rem, escala com a tela */
    color: rgb(255, 0, 106);
    position: relative;
}

.banner .conteudo h1::after {
    content: attr(data-content);
    position: absolute;
    inset: 0;
    z-index: 2;
    -webkit-text-stroke: 2px rgb(93, 0, 255);
    color: transparent;
}

.banner .conteudo .autora {
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}

.banner .conteudo h2 {
    font-size: 3em;
    color:rgb(255, 0, 106);
    background: rgb(93, 0, 255);
    border-radius:25px;
    padding:25px;
    margin:-20px;
    margin-bottom:10px;
}

.banner .conteudo .modelo {
    background-image: url(../img/model.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
}

@media screen and (max-width: 1023px) {
    .banner .slide {
        width: 160px;
        height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) perspective(1000px);
    }

    .banner .slide .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }

    .banner .conteudo h1 {
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px rgb(255, 0, 106)0;
        font-size: 7em;
        border-color:rgb(255, 0, 106)
    }

    .banner .conteudo .autora {
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}

@media screen and (max-width: 767px) {
    .banner .slide {
        width: 100px;
        height: 150px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) perspective(1000px);
    }

    .banner .slide .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }

    .banner .conteudo h1 {
        font-size: 10px;
    }
}